.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header,
.footer {
    background-color: #7dbcea;
    overflow: hidden;
}

.content {
    flex: 1;
    background-color: rgba(16, 142, 233, 1);
    overflow: auto;
}